body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a8b0b1;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4a90e2;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #003d7a;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
}

.social-icon {
    width: 24px; /* Set a width for your icons */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align icons with text */
    margin-right: 8px; /* Space between icon and text */
}
